In [1]:
import pandas as pd

df = pd.read_excel(r'C:\Users\ADMIN\Documents\WorldCupMatches..123.xlsx')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    int64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               848 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    int64
 7   Away Team Goals       852 non-null    int64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    int64
 12  Half-time Away Goals  852 non-null    int64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    int64
 17  MatchID               852 non-null    int64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

In [3]:
df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,NaN,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,NaN,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

In [4]:
df.describe(include='all')

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
count,852.000000,852,852,848,852,852,852.000000,852.000000,852,852,850.000000,852.000000,852.000000,852,852,852,8.520000e+02,8.520000e+02,852,852
unique,NaN,602,23,181,151,78,NaN,NaN,83,43,NaN,NaN,NaN,366,387,408,NaN,NaN,77,82
top,NaN,27 May 1934 - 16:30,Round of 16,Estadio Azteca,Mexico City,Brazil,NaN,NaN,Mexico,,NaN,NaN,NaN,Ravshan IRMATOV (UZB),ACHIK Redouane (MAR),KOCHKAROV Bakhadyr (KGZ),NaN,NaN,BRA,MEX
freq,NaN,8,72,19,23,82,NaN,NaN,38,787,NaN,NaN,NaN,10,7,10,NaN,NaN,82,38
mean,1985.089202,NaN,NaN,NaN,NaN,NaN,1.811033,1.022300,NaN,NaN,45164.800000,0.708920,0.428404,NaN,NaN,NaN,1.066177e+07,6.134687e+07,NaN,NaN
std,22.448825,NaN,NaN,NaN,NaN,NaN,1.610255,1.087573,NaN,NaN,23485.249247,0.937414,0.691252,NaN,NaN,NaN,2.729613e+07,1.110572e+08,NaN,NaN
min,1930.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,2000.000000,0.000000,0.000000,NaN,NaN,NaN,2.010000e+02,2.500000e+01,NaN,NaN
25%,1970.000000,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,30000.000000,0.000000,0.000000,NaN,NaN,NaN,2.620000e+02,1.188750e+03,NaN,NaN
50%,1990.000000,NaN,NaN,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,41579.500000,0.000000,0.000000,NaN,NaN,NaN,3.370000e+02,2.191000e+03,NaN,NaN
75%,2002.000000,NaN,NaN,NaN,NaN,NaN,3.000000,2.000000,NaN,NaN,61374.500000,1.000000,1.000000,NaN,NaN,NaN,2.497220e+05,4.395006e+07,NaN,NaN
max,2014.000000,NaN,NaN,NaN,NaN,NaN,10.000000,7.000000,NaN,NaN,173850.000000,6.000000,5.000000,NaN,NaN,NaN,9.741060e+07,3.001865e+08,NaN,NaN

In [5]:
df.isnull().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 4
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              2
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [6]:
df['Stadium'] = df['Stadium'].fillna('Unknown')
df['Attendance'] = df['Attendance'].fillna(df['Attendance'].median())

In [7]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.columns=df.columns.str.replace('-','_')

In [8]:
df['total_goals'] =df['home_team_goals'] + df['away_team_goals']

In [9]:
df['total_goals'].describe()

count    852.000000
mean       2.833333
std        1.954336
min        0.000000
25%        1.000000
50%        3.000000
75%        4.000000
max       12.000000
Name: total_goals, dtype: float64

In [10]:
df.groupby('year')['total_goals'].mean()

year
1930    3.888889
1934    4.117647
1938    4.666667
1950    4.000000
1954    5.384615
1958    3.600000
1962    2.781250
1966    2.781250
1970    2.968750
1974    2.552632
1978    2.684211
1982    2.807692
1986    2.538462
1990    2.211538
1994    2.711538
1998    2.671875
2002    2.515625
2006    2.296875
2010    2.265625
2014    2.575000
Name: total_goals, dtype: float64

In [11]:
df.groupby('year')['attendance'].mean()

year
1930    32808.277778
1934    21352.941176
1938    20872.222222
1950    47511.181818
1954    29561.807692
1958    23423.142857
1962    27911.625000
1966    48847.968750
1970    50124.218750
1974    49098.763158
1978    40678.710526
1982    40571.596154
1986    46039.057692
1990    48388.750000
1994    68991.115385
1998    43517.187500
2002    42268.703125
2006    52491.234375
2010    49669.625000
2014    55030.025000
Name: attendance, dtype: float64

In [12]:
df.sort_values(by='attendance', ascending=False).head(10)

,year,datetime,stage,stadium,city,home_team_name,home_team_goals,away_team_goals,away_team_name,win_conditions,...,half_time_home_goals,half_time_away_goals,referee,assistant_1,assistant_2,roundid,matchid,home_team_initials,away_team_initials,total_goals
74,1950,16 Jul 1950 - 15:00,Group 6,Maracanï¿½ - Estï¿½dio Jornalista Mï¿½rio Filho,Rio De Janeiro,Uruguay,2,1,Brazil,,...,0,0,READER George (ENG),ELLIS Arthur (ENG),MITCHELL George (SCO),209,1190,URU,BRA,3
71,1950,13 Jul 1950 - 15:00,Group 6,Maracanï¿½ - Estï¿½dio Jornalista Mï¿½rio Filho,Rio De Janeiro,Brazil,6,1,Spain,,...,3,0,LEAFE Reginald (ENG),MITCHELL George (SCO),DA COSTA VIEIRA Jose (POR),209,1186,BRA,ESP,7
63,1950,01 Jul 1950 - 15:00,Group 1,Maracanï¿½ - Estï¿½dio Jornalista Mï¿½rio Filho,Rio De Janeiro,Brazil,2,0,Yugoslavia,,...,1,0,GRIFFITHS Benjamin (WAL),BERANEK Alois (AUT),DA COSTA VIEIRA Jose (POR),208,1191,BRA,YUG,2
70,1950,09 Jul 1950 - 15:00,Group 6,Maracanï¿½ - Estï¿½dio Jornalista Mï¿½rio Filho,Rio De Janeiro,Brazil,7,1,Sweden,,...,3,0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),209,1189,BRA,SWE,8
379,1986,07 Jun 1986 - 12:00,Group B,Estadio Azteca,Mexico City,Mexico,1,1,Paraguay,,...,1,0,COURTNEY George (ENG),FREDRIKSSON Erik (SWE),IGNA Ioan (ROU),308,680,MEX,PAR,2
411,1986,29 Jun 1986 - 12:00,Final,Estadio Azteca,Mexico City,Argentina,3,2,Germany FR,,...,1,0,ARPPI FILHO Romualdo (BRA),FREDRIKSSON Erik (SWE),ULLOA MORERA Berny (CRC),3467,393,ARG,FRG,5
397,1986,15 Jun 1986 - 12:00,Round of 16,Estadio Azteca,Mexico City,Mexico,2,0,Bulgaria,,...,1,0,ARPPI FILHO Romualdo (BRA),MENDEZ MOLINA Romulo (GUA),IGNA Ioan (ROU),309,463,MEX,BUL,2
407,1986,22 Jun 1986 - 12:00,Quarter-finals,Estadio Azteca,Mexico City,Argentina,2,1,England,,...,0,0,BENNACEUR Ali (TUN),ULLOA MORERA Berny (CRC),DOTCHEV Bogdan (BUL),714,392,ARG,ENG,3
409,1986,25 Jun 1986 - 16:00,Semi-finals,Estadio Azteca,Mexico City,Argentina,2,0,Belgium,,...,0,0,MARQUEZ RAMIREZ Antonio (MEX),MENDEZ MOLINA Romulo (GUA),SILVA VALENTE Carlos Alberto (POR),3469,388,ARG,BEL,2
367,1986,03 Jun 1986 - 12:00,Group B,Estadio Azteca,Mexico City,Belgium,1,2,Mexico,,...,1,2,ESPOSITO Carlos (ARG),SILVA VALENTE Carlos Alberto (POR),MENDEZ MOLINA Romulo (GUA),308,428,BEL,MEX,3

In [13]:
df[['home_team_goals','away_team_goals']].mean()

home_team_goals    1.811033
away_team_goals    1.022300
dtype: float64

In [14]:
df['goal_difference'] = abs(
df['home_team_goals']- df['away_team_goals']
)

In [15]:
df['stage'].value_counts()

Round of 16                 72
Quarter-finals              66
Group 1                     62
Group A                     60
Group B                     60
Group 2                     59
Group 3                     56
Group 4                     55
Group C                     48
Group D                     48
Group E                     48
Group F                     48
Semi-finals                 36
Group G                     30
Group H                     30
Final                       20
Match for third place       15
Group 6                     12
First round                  9
Preliminary round            8
Group 5                      6
Third place                  2
Play-off for third place     2
Name: stage, dtype: int64

In [16]:
df.groupby('stage')['total_goals'].mean()

stage
Final                       3.450000
First round                 4.888889
Group 1                     2.806452
Group 2                     3.169492
Group 3                     2.750000
Group 4                     3.200000
Group 5                     1.500000
Group 6                     4.750000
Group A                     2.666667
Group B                     2.816667
Group C                     2.625000
Group D                     2.562500
Group E                     2.520833
Group F                     1.937500
Group G                     2.333333
Group H                     2.400000
Match for third place       3.933333
Play-off for third place    3.000000
Preliminary round           5.375000
Quarter-finals              2.727273
Round of 16                 2.527778
Semi-finals                 3.638889
Third place                 4.500000
Name: total_goals, dtype: float64

In [17]:
df['stadium'].value_counts().head(10)

Estadio Azteca               19
Olympiastadion               14
Jalisco                      14
Nou Camp - Estadio Leï¿½n    11
Nacional                     10
Estadio do Maracana          10
Estadio Nacional             10
Stade Vï¿½lodrome             9
Wembley Stadium               9
Parc des Princes              9
Name: stadium, dtype: int64

In [18]:
df['city'].value_counts().head(10)

Mexico City        23
Montevideo         18
Rio De Janeiro     18
Guadalajara        17
Johannesburg       15
Sao Paulo          14
Buenos Aires       12
Munich             11
Leon               11
Belo Horizonte     11
Name: city, dtype: int64

In [19]:
df['referee'].value_counts().head(10)

Ravshan IRMATOV (UZB)       10
RODRIGUEZ Marco (MEX)        8
LARRIONDA Jorge (URU)        8
ARCHUNDIA Benito (MEX)       8
QUINIOU Joel (FRA)           8
DE BLEECKERE Frank (BEL)     7
LANGENUS Jean (BEL)          7
WEBB Howard (ENG)            7
SIMON Carlos (BRA)           7
GARDEAZABAL Juan (ESP)       7
Name: referee, dtype: int64

In [20]:
!pip install pandas sqlalchemy pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.34)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [21]:
import pandas as pd
from sqlalchemy import create_engine

In [22]:
engine = create_engine(
    "mssql+pyodbc://DESKTOP-Q4E1RDG/WorldCupDB?driver=ODBC+Driver+17+for+SQL+Server"
)

In [27]:
from sqlalchemy import create_engine

engine = create_engine(
    "mssql+pyodbc://DESKTOP-Q4E1RDG/WorldCupDB?driver=ODBC+Driver+17+for+SQL+Server"
)

In [29]:
df.to_sql(
    name='WorldCupMatches',
    con=engine,
    if_exists='replace',
    index=False
)

-1